html {
  font-size: 62.3%;
}

body {
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {
  max-width: 2000px;
  margin: 0 auto;
}

header {
  background-color: #46a92d;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 0px;
}
header img {
  width: 100%;
  height: auto;
}
header .nav-item {
  font-size: 2rem;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header .nav-link {
  color: white;
}
header .collapse {
  background-color: #46a92d;
}
header .d-flex {
  width: 120px;
  height: auto;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  header {
    background-size: contain;
    padding-top: 0px;
    padding-bottom: 10px;
    width: 100%;
  }
  header img {
    width: 120%;
    height: auto;
  }
}
.us {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  color: #fea74a;
  margin: 50px 50px;
  margin-top: 15px;
  text-align: center;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 3%;
  margin-bottom: 8px;
  margin-top: 1px;
  line-height: 1.8;
}

.our {
  height: 500px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: white;
  background-image: url(../images/staff.jpg);
  background-position: bottom 1px right 8px;
  background-size: cover;
  background-repeat: no-repeat;
  text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.55);
}
.our h2 {
  font-size: 8rem;
  text-align: left;
  padding-top: 3%;
  padding-left: 8%;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .us {
    font-size: 2rem;
    padding-top: 8px;
    margin-top: 15px;
    margin-bottom: 25px;
    text-align: center;
  }
  .us h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1rem;
    text-align: center;
    margin: 2%;
    margin-bottom: 10px;
    margin-top: -20px;
    line-height: none;
    padding-top: 15px;
  }
  .our {
    height: 250px;
    text-align: left;
    background-position: bottom 0px right 0px;
    background-size: cover;
    -ms-wrap-margin: 100%;
  }
  .our h2 {
    font-size: 3rem;
    text-align: left;
  }
}
.bloques {
  display: flex;
}

.mision {
  background-color: #009130;
  width: 50%;
  height: 500px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: left;
  color: white;
  text-shadow: -4px 2px 7px rgba(0, 0, 0, 0.74);
}
.mision h2 {
  font-size: 6rem;
}
.mision .mitad {
  width: 90%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 1;
  padding: 1;
}

.vision {
  background-color: #00938a;
  width: 50%;
  height: 500px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  text-align: right;
  color: white;
  text-shadow: -4px 2px 7px rgba(0, 0, 0, 0.74);
  margin-left: auto;
}
.vision h2 {
  font-size: 6rem;
}
.vision .otramitad {
  width: 90%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  line-height: 1.8;
  margin: 1;
  padding: 1;
}

div h2 {
  margin: 70px 100px;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .bloques {
    display: inline;
  }
  .mision {
    width: 100%;
    height: auto;
    text-align: left;
    color: white;
    margin-top: -10%;
  }
  .mision h2 {
    font-size: 5rem;
    padding-top: 5%;
    padding-bottom: 3%;
  }
  .mision .mitad {
    font-size: 2rem;
    margin: 2;
    padding-bottom: 5%;
  }
  .vision {
    width: 100%;
    height: auto;
    text-align: left;
    color: white;
    margin-top: -10%;
    font-size: 5rem;
  }
  .vision h2 {
    font-size: 5rem;
    padding-top: 5%;
    padding-bottom: 3%;
  }
  .vision .otramitad {
    font-size: 2rem;
    margin: 2;
    padding-bottom: 5%;
  }
}
h3 {
  color: #fea74a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  font-weight: bolder;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;
}

.gov {
  background-color: #46a92d;
  height: cover;
}
.gov .bannergov {
  height: 3000px;
  padding: 10px;
  width: 100%;
  height: auto;
  display: block;
}
.gov .whatapproved {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  text-align: center;
  color: white;
  padding: 20px;
  padding-bottom: 5%;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  h3 {
    font-size: 3rem;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
  }
  .gov {
    background-color: #46a92d;
    height: cover;
  }
  .gov .bannergov {
    height: 100%;
    width: 100%;
  }
  .gov .whatapproved {
    font-size: 2rem;
    text-align: none;
    padding: 20px;
  }
}
.gov1 {
  display: flex;
}
.gov1 .contenedordevideo .video {
  display: flex;
  justify-content: space-between;
  width: 500px;
  height: 400px;
  padding-right: 10%;
}

.textgov {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  margin: 150px;
  margin-bottom: 30px;
  margin-top: 15px;
  line-height: 1.8;
  color: white;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .gov1 {
    display: inline;
  }
  .contenedordevideo .video {
    display: inline;
    justify-content: center;
    width: 530px;
    height: auto;
    padding-left: 0;
  }
  .textgov {
    font-size: 1rem;
    margin: 10px;
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 1.8;
  }
}
.previa {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  margin: 5%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.why {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3rem;
  text-align: center;
  color: white;
  padding: 20px;
  margin-top: 80px;
}

.inquiere {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.btn {
  font-size: 1.5rem;
  color: white;
  border-color: white;
  padding: 30px 30px;
  margin-bottom: 10px;
}

.previa {
  font-size: 5rem;
  color: white;
  text-decoration: none;
}

.linkletras {
  display: flex;
  text-align: right;
  font-size: 5rem;
  color: white;
  text-decoration: none;
  margin-right: 350px;
  margin-top: 30px;
  background-color: #46a92d;
  background-size: cover;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .previa {
    font-size: 3rem;
    margin: 52%;
    margin-bottom: 5px;
    margin-top: 10px;
  }
  .why {
    font-size: 5rem;
    text-align: none;
    color: white;
    padding: 20px;
    padding-top: 20px;
    margin-top: 20px;
  }
  .inquiere {
    display: flex;
    justify-content: center;
    padding: 50px;
  }
  .btn {
    font-size: 2rem;
    color: white;
    border-color: white;
    padding: 0px;
    margin-bottom: 0px;
    align-items: center;
  }
  .previa {
    font-size: 5rem;
    color: white;
    text-decoration: none;
  }
  .linkletras {
    display: flex;
    text-align: right;
    font-size: 5rem;
    color: white;
    text-decoration: none;
    margin-right: 350px;
    margin-top: 30px;
    background-color: #46a92d;
    background-size: cover;
  }
}
footer {
  background-image: linear-gradient(to bottom, #00938a, #009130, #46a92d);
  background-size: cover;
  height: 250px;
}
footer h3 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-align: left;
  color: white;
  text-shadow: -4px 2px 7px rgba(0, 0, 0, 0.74);
}
footer iframe {
  top: 10px;
  right: 0;
  width: 380px;
  height: 200px;
  margin-right: 30px;
}
footer .contactinfo {
  display: grid;
  grid-template-areas: "icono1 info1 iconofb map" "icono2 info2 iconoig map" "icono3 info3 iconoig map";
  grid-template-columns: 10% 35% 20% 40%;
  grid-template-rows: 50px 50px 40px;
  grid-gap: 10px;
}
footer .map {
  grid-area: map;
  margin-top: 20px;
  margin-right: 30px;
}
footer .icono1 {
  grid-area: icono1;
  margin-left: 18%;
  margin-top: 8%;
  width: 35%;
}
footer .icono2 {
  grid-area: icono2;
  margin-left: 18%;
  margin-top: 18%;
  width: 35%;
}
footer .icono3 {
  grid-area: icono3;
  margin-left: 18%;
  margin-top: 23%;
  width: 35%;
}
footer .info1 {
  grid-area: info1;
  font-size: 3rem;
  margin-top: 3%;
}
footer .info2 {
  grid-area: info2;
  font-size: 2rem;
  margin-top: 8%;
}
footer .info3 {
  grid-area: info3;
  font-size: 2rem;
  margin-top: 10%;
}
footer .iconofb {
  grid-area: iconogb;
  margin-top: 5%;
  width: 28%;
}
footer .iconoig {
  grid-area: iconoig;
  width: 25%;
  margin-top: 25%;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  footer {
    background-image: url(../images/footerbackground.jpg);
    background-size: cover;
    height: auto;
    padding-bottom: 20px;
  }
  footer h3 {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    text-align: left;
    color: white;
  }
  footer iframe {
    display: none;
  }
  footer .contactinfo {
    display: grid;
    grid-template-areas: "icono1 info1" "icono2 info2" "icono3 info3" "iconofb iconoig" "map map";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
  }
  footer .contactinfo .map {
    margin-top: 0;
    margin-right: 0;
  }
  footer .contactinfo .iconofb,
  footer .contactinfo .iconoig {
    margin-top: 5%;
  }
  footer .contactinfo .icono1,
  footer .contactinfo .icono2,
  footer .contactinfo .icono3 {
    margin-left: 0;
    width: 20%;
    margin-top: 18%;
  }
  footer .contactinfo .iconofb,
  footer .contactinfo .iconoig {
    margin-left: 0;
    width: 30%;
    margin-top: 20%;
    margin-bottom: 20%;
  }
  footer .contactinfo .info1 {
    font-size: 5rem;
  }
  footer .contactinfo .info2,
  footer .contactinfo .info3 {
    font-size: 3rem;
    margin-top: 20%;
  }
}
.solar {
  background-color: #46a92d;
  padding: 2% 1% 5% 1%;
}
.solar h3 {
  background-color: #009130;
  color: white;
  font-size: 5rem;
}
.solar p {
  font-size: 2rem;
  color: white;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .solar h3 {
    font-size: 3rem;
  }
  .solar p {
    font-size: 1.5rem;
  }
}
.select {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.select h1 {
  font-size: 5rem;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 2% 1%;
}
.select .black {
  padding-right: 1%;
}
.select .orange {
  padding-right: 1%;
  color: #fea74a;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .select h1,
  .select .black,
  .select .orange {
    font-size: 3rem;
  }
}
.options {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat 4, 10%;
  font-size: 3rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding-left: 15%;
}
.options .datos {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5%;
}
.options .datos:hover {
  color: #fea74a;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .options {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    font-size: 3rem;
    padding-left: 0;
    justify-content: center;
  }
  .options .datos {
    color: black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5%;
  }
  .options .datos:hover {
    color: #fea74a;
  }
}
.bannercontenedor {
  background-image: url(../images/bannergosolar.jpg);
  background-size: cover;
  padding: 200px;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .bannercontenedor {
    padding: 100px;
  }
}
.officialgov {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.officialgov h1 {
  font-size: 3rem;
  padding-right: 1%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  padding: 1%;
}

.supplier {
  color: #009130;
}

.gover {
  color: #fea74a;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .officialgov {
    flex-direction: column;
  }
  h1 {
    font-size: 2rem;
    padding-right: 0;
    padding: 1%;
  }
  h1 .supplier,
  h1 .gover {
    display: block;
    font-size: 2rem;
  }
}
.approval {
  font-size: 1, 5rem;
}

.info {
  font-size: 1.5rem;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .approval {
    font-size: 1rem;
  }
  .info {
    font-size: 1rem;
  }
}

.carousel-control-prev-icon{
  background-color: black;

}
.carousel-control-next-icon{
  background-color: black;

}
@media screen and (min-width: 420px) and (max-width: 800px) {
  .carousel-inner {
    width: 100%;
    height: auto;
  }
}
.formcontain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 4rem;
  padding: 3% 5%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2% 5%;
  color: white;
  background-image: url(../images/DEGRADE2.jpg);
  align-items: center;
}
.formcontain .form {
  padding: 1%;
  font-size: 2rem;
}
.formcontain .square {
  width: 500px;
  height: auto;
  padding-bottom: 3%;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .formcontain {
    font-size: 3rem;
  }
  .fromcontain .form {
    font-size: 3rem;
  }
}
input[type=radio] {
  width: 30px;
  height: 30px;
}

.gosolarbajo {
  padding-left: 25%;
  padding-bottom: 5%;
  padding-top: 3%;
}

.botton {
  padding: 3%;
  margin-left: 10%;
  background-color: #00938a;
  color: white;
  font-size: 2rem;
}

.tittle {
  background-color: #46a92d;
  padding: 2%;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5rem;
  text-align: center;
}

.frase1 {
  font-size: 5rem;
  text-align: center;
}

.frase2 {
  font-size: 2rem;
  color: white;
  background-color: #009130;
  padding-bottom: 200px;
  padding-left: 200px;
  padding-right: 200px;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .tittle {
    font-size: 4rem;
    padding: 1%;
  }
  .frase2 {
    font-size: 1.5rem;
    text-align: justify;
    padding: 0;
  }
  .frase1 {
    font-size: 4rem;
  }
}
.gridinfo {
  display: grid;
  grid-template-areas: "title1 title2  title3" "text1   text2    text3";
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: auto auto;
  grid-gap: 5px;
  background-color: #00938a;
  color: white;
  padding-bottom: 3%;
}
.gridinfo .title1 {
  grid-area: title1;
  font-size: 3rem;
}
.gridinfo .text1 {
  grid-area: text1;
  font-size: 2rem;
  justify-self: center;
}
.gridinfo .title2 {
  grid-area: title2;
  font-size: 3rem;
}
.gridinfo .text2 {
  grid-area: text2;
  font-size: 2rem;
  justify-self: center;
}
.gridinfo .title3 {
  grid-area: title3;
  font-size: 3rem;
  padding-top: 15%;
  align-items: center;
}
.gridinfo .text3 {
  grid-area: text3;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding-top: 1%;
}

.benefits {
  background-color: #46a92d;
  padding: 2%;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5rem;
  text-align: center;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .gridinfo {
    grid-template-areas: "title1" "text1" "title2" "text2" "title3" "text3";
    grid-template-columns: 90%;
    grid-gap: 5px;
  }
  .gridinfo .title1,
  .gridinfo .title2,
  .gridinfo .title3,
  .gridinfo .text1,
  .gridinfo .text2,
  .gridinfo .text3 {
    font-size: 3rem;
    padding-top: 2%;
    padding-bottom: 25%;
    justify-content: left;
  }
  .gridinfo .text3 {
    text-align: left;
    padding-top: 5%;
  }
  .benefits {
    font-size: 6rem;
  }
}
.background2 {
  width: 100%;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .background2 {
    padding-top: 0%;
  }
}
.other {
  background-color: #009130;
}

.calculator {
  font-size: 5rem;
  color: white;
  text-align: center;
  padding: 2%;
}

.solarcalculation {
  font-size: 2rem;
  color: white;
  padding: 3%;
}

.calsol {
  color: white;
  font-size: 2rem;
}

.botton {
  background-color: #00938a;
  color: white;
  padding: 19px;
  margin-top: 2%;
  font-size: 2rem;
  margin-left: 50%;
}

.comments {
  padding: 3%;
}

.square {
  width: 100px;
  height: 50px;
  justify-content: center;
  padding-bottom: 5%;
}

@media screen and (min-width: 420px) and (max-width: 800px) {
  .calculator {
    font-size: 5rem;
    padding: 1%;
    padding-bottom: 3%;
  }
  .calsol {
    font-size: 2rem;
    padding: 0%;
  }
  .solarcalculation {
    font-size: 6rem;
  }
  .botton {
    margin: 3%;
    font-size: 5rem;
  }
}

/*# sourceMappingURL=estilos.css.map */
