/* verde3: #00938a/
/* verde2:#009130*/
/* verde1:#46a92d*/
/*orange: #fea74a*/


html {
  font-size: 62.3%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  max-width: 1000px; /* o cualquier otro valor que desees */
  margin: 0 auto; /* centra el contenido */
}


header {
  background-color: #46a92d;
  background-size: cover;
  padding-top: 100px;
  padding bottom: 200px;
  height: -300px;


}

header img {
  width: 100%;
  height: auto;

}

.nav-item {
  font-size: 7rem;
  margin-left: 200px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav-link {
  color: white;
}

.collapse {
  background-color: #46a92d;
}

.d-flex {
  width: 1200px;
  height: auto;

}

/* Media queries*/

/* Estilos para pantallas más pequeñas (celulares) */

/* header*/

@media  screen and (max-width: 767px) {

  header {
    background-size: contain;
    padding-top: 50px;
    padding bottom: 50px;
   width: 100%;
  }
  
  header img {
    width: 120%;
    height: auto;
  
  }
  
 
  
}

/*    -------     */

.us {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  font-size: 14rem;
  color: #fea74a;
  margin: 50px 50px;
  margin-top: 150px;
  text-align: center;

}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  margin: 5%;
  margin-bottom: 80px;
  margin-top: 10px;
  line-height: 1.8;
}


.our {
  height: 2000px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 22rem;
  text-align: right;
  color: white;
  background-image: url(../images/staff.jpg);
  background-position: bottom 1px right 8px;
  background-size: contain;
  background-repeat: no-repeat;
  text-shadow: 4px 2px 5px rgba(0, 0, 0, 0.55);

}
/* Media queries*/
@media  screen and (max-width: 767px){
  .us{
    font-size: 3rem;
    padding-top: 8px;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;

  }
  p{
    font-size: 1rem;
    text-align: center;
    margin: 2%;
  margin-bottom: 10px;
  margin-top: -20px;
  line-height: none;
  padding-top: 15px;
  }
  .our {
    height: 250px;
    text-align: left;
    background-position: bottom 0px right 0px;
    background-size: cover;
    -ms-wrap-margin: 100%;
  }
  .our h2{
    font-size: 6rem;
  }
}
/*     -------     */

.bloques {
  display: flex;
}

.mision {
  background-color: #009130;
  width: 50%;
  height: 1000px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  color: white;
  text-shadow: -4px 2px 7px rgba(0, 0, 0, 0.74);

}

.mision h2 {
  font-size: 9rem;
}

.mitad {

  width: 90%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  line-height: 1.8;
  margin: 1;
  padding: 1;

}

.vision {
  background-color: #00938a;
  width: 50%;
  height: 1000px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: right;
  color: white;
  text-shadow: -4px 2px 7px rgba(0, 0, 0, 0.74);
  margin-left: auto;
}

.vision h2 {
  font-size: 9rem;
}

.otramitad {

  width: 90%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  line-height: 1.8;
  margin: 1;
  padding: 1;


}

div h2 {
  margin: 70px 100px;
}
/* Media queries*/
@media  screen and (max-width: 767px){

.bloques {
  display: inline;
}

.mision {
 
  width: 100%;
  height: auto;
  text-align: left;
  color: white;
  margin-top: -10%;

}

.mision h2 {
  font-size: 5rem;
  padding-top:  5%;
  padding-bottom: 3%;
}

.mitad {
  font-size: 2rem;
  margin: 2;
  padding-bottom: 5%;

}

.vision {
  width: 100%;
  height: auto;
  text-align: left;
  color: white;
  margin-top: -10%;
  font-size: 5rem;

}

.vision h2 {
  font-size: 5rem;
  padding-top:  5%;
  padding-bottom: 3%;
}

.otramitad {

  font-size: 2rem;
  margin: 2;
  padding-bottom: 5%;

}

}

/*     -------     */

h3 {
  color: #fea74a;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12rem;
  /*text-shadow: -4px 2px 7px rgba(0, 0, 0, 0.74);*/
  font-weight: bolder;
  text-align: center;
  margin-top: 90px;
  margin-bottom: 90px;


}

.bannergov {
  height: 3000px;
  padding: 10px;
  width: 100%;
  height: auto;
  display: block;


}

.gov {
  background-color: #46a92d;
  height: cover;
}

.whatapproved {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10rem;
  text-align: center;
  color: white;
  padding: 200px;
}

.textgov {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 7rem;
  margin: 150px;
  margin-bottom: 30px;
  margin-top: 30px;
  line-height: 1.8;
  color: white;

}

/* Media queries*/
@media  screen and (max-width: 767px){
  h3 {
    font-size: 4rem;
    text-align: center;
    margin-top: 90px;
    margin-bottom: 90px;
  
  
  }
  
  .bannergov {
    height: 100%;
    width: 100%;
  }
  
  .gov {
    background-color: #46a92d;
    height: cover;
  }
  
  .whatapproved {
    font-size: 4rem;
    text-align: none;
    padding: 20px;
  }
  
  .textgov {
    
    font-size: 1rem;
    margin: 10px;
    margin-bottom: 3px;
    margin-top: 3px;
    line-height: 1.8;
  }

}


/*     -------     */

.gov1 {
  display: flex;
}

.contenedordevideo .video {
  display: flex;


  justify-content: space-between;
  width: 3000px;
  height: 2000px;



}
/* Media queries*/

@media  screen and (max-width: 767px){
  .gov1 {
    display: inline;
  }
  
  .contenedordevideo .video {
    display: inline;
  
  
    justify-content: center;
    width: 530px;
    height: auto;
    padding-left: 0;

}
}

/*     -------     */


.previa {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 5rem;
  margin: 5%;
  margin-bottom: 5px;
  margin-top: 30px;

}

.why {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10rem;
  text-align: center;
  color: white;
  padding: 200px;
  margin-top: 200px;

}



.inquiere {
  display: flex;
  justify-content: center;
  padding: 150px;


}

.btn {
  font-size: 6rem;
  color: white;
  border-color: white;
  padding: 80px 120px;
  margin-bottom: 100px;
}

.previa {
  font-size: 5rem;
  color: white;
  text-decoration: none;

}

.linkletras {
  display: flex;
  text-align: right;
  font-size: 7rem;
  color: white;
  text-decoration: none;
  margin-right: 350px;
  margin-top: 30px;
  background-color: #46a92d;
  background-size: cover;
}

/* Media queries*/

@media  screen and (max-width: 767px){
  .previa {
    font-size: 3rem;
    margin: 52%;
    margin-bottom: 5px;
    margin-top: 10px;
  
  }
  
  .why {
    font-size: 5rem;
    text-align: none;
    color: white;
    padding: 20px;
    padding-top: 20px;
    margin-top: 20px;
  
  }
  
  
  
  .inquiere {
    display: flex;
    justify-content: center;
    padding: 50px;
  
  
  }
  
  .btn {
    font-size: 2rem;
    color: white;
    border-color: white;
    padding: 0px;
    margin-bottom: 0px;
    align-items: center;
  }
  
  .previa {
    font-size: 5rem;
    color: white;
    text-decoration: none;
  
  }
  
  .linkletras {
    display: flex;
    text-align: right;
    font-size: 5rem;
    color: white;
    text-decoration: none;
    margin-right: 350px;
    margin-top: 30px;
    background-color: #46a92d;
    background-size: cover;
  }

}
/*     -------     */

footer {
  background-image: url(../images/footerbackground.jpg);
  background-size: cover;
  height: 1500px;
  padding-bottom: 400px;
}

footer h3 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  color: white;

}

iframe {
  top: 200px;
  right: 0;
  width: 1800px;
  height: 850px;
  margin-right: 300px;

}


.contactinfo {
  display: grid;
  grid-template-areas:
    "icono1 info1 iconofb map"
    "icono2 info2 iconoig map"
    "icono3 info3 iconoig map";
  grid-template-columns: 10% 35% 20% 40%;
  grid-template-rows: 500px 500px 400px;
  grid-gap: 10px;
}

.map {
  grid-area: map;
  margin-top: 250px;
  margin-right: 300px;
}

.icono1 {
  grid-area: icono1;
  margin-left: 180px;
  margin-top: 90px;
  width: 45%;
}

.icono2 {
  grid-area: icono2;
  margin-left: 180px;
  width: 45%;
}

.icono3 {
  grid-area: icono3;
  margin-left: 180px;

  width: 45%;
}

.info1 {
  grid-area: info1;
  font-size: 22rem;

}

.info2 {
  grid-area: info2;
  font-size: 8rem;
  margin-top: 100px;


}

.info3 {
  grid-area: info3;
  font-size: 10rem;
}

.iconofb {
  grid-area: iconogb;
  margin-top: 150px;
}

.iconoig {
  grid-area: iconoig;
  margin-top: 250px;
}
/* Media queries*/

@media  screen and (max-width: 767px){
  footer {
    background-image: url(../images/footerbackground.jpg);
    background-size: cover;
    height: 500px;
  }

  footer h3 {
  font-size: 6rem;
    text-align: left;
    color: white;
  }

  iframe {
    display: none;
  }

  .contactinfo {
    display: grid;
    grid-template-areas:
      "icono1 info1 iconofb"
      "icono2 info2 iconoig"
      "icono3 info3 icono";
    grid-template-columns: 10% 50% 40%;
    grid-template-rows: 80px 80px 80px;
    grid-gap: 15px;
  }

  .map {
    grid-area: map;
    margin-top: 150px;
    margin-right: 10px;

  }
  
  .icono1 {
    grid-area: icono1;
    margin-left: 18px;
    margin-top: 15px;
    width: 70%;
  }
  
  .icono2 {
    grid-area: icono2;
    margin-left: 18px;
    margin-top: 90px;
    width: 70%;
  }
  
  .icono3 {
    grid-area: icono3;
    margin-left: 18px;
    margin-top: 150px;
  
    width: 70%;
  }
  
  .info1 {
    grid-area: info1;
    font-size: 4rem;
    margin-left: 18px;
    margin-top: 15px;
    width: 70%;
  
  }
  
  .info2 {
    grid-area: info2;
    font-size: 2rem;
    margin-top: 100px;
    margin-top: 90px;
  
  
  }
  
  .info3 {
    grid-area: info3;
    font-size: 2rem;
    margin-top: 160px;
  }
  
  .iconofb {
    grid-area: iconofb;
    margin-top: 50px;
    width: 50%;
    padding-left: 30px;
  }
  
  .iconoig {
    grid-area: iconoig;
    width: 65px;
   
    margin-left: -190px;
    margin-top: 250px;
    
    
  }

  
}


/*     -------     */

 


/*      go solar edition     */

.solar {
  background-color: #46a92d;
  padding: 2% 1% 5% 1%;
}

.solar h3 {
  background-color: #009130;
  color: white;
  font size: 15rem;
}

.solar p {
  font-size: 6rem;
  color: white;
}

.select {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.select h1 {
  font-size: 14rem;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 2% 1%;
}

.black {
  padding-right: 1%;

}

.orange {
  padding-right: 1%;
  color: #fea74a;
}

.options {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat (4, 10%);
  font-size: 10rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-left: 15%;
}

.datos {
  color: black;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5%;
}

.datos:hover {
  color: #fea74a;
}

.bannercontenedor {
  background-image: url(../images/bannergosolar.jpg);
  background-size: cover;
  padding: 1000px;
}

.officialgov {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.officialgov h1{
  font-size: 12rem;
  padding-right: 1%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding: 1%;
}
.supplier{
  color: #009130;
}
.gover{
  color: #fea74a;
}
.approval{ font-size: 6rem;

}
.formcontain{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 8rem;
  padding: 3% 5%;
  font-family: Arial, Helvetica, sans-serif;
  padding: 2% 5%;
  color: white;
background-image: url(../images/DEGRADE2.jpg);
align-items: center;
}
.form{
  padding: 1%;
  font-size: 6rem;
  
}

input[type="radio"] {
  width: 50px; 
  height: 50px;

}
.info{
  font-size: 6rem;
  padding: 1% 3%;

}
.gosolarbajo{
  padding-left: 25%;
 padding-bottom: 5%;
 padding-top: 3%;
 
}
.btn{
  padding: 1%;
  margin-left: 20%;
  background-color: #00938a;
  color: white;
}


/*      other services edition     */

.tittle{
  background-color: #46a92d;
  padding: 2%;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 12rem;
  text-align: center;
}
.frase1{
  font-size: 12rem;
  text-align: center;
}
.frase2{
  font-size: 6rem;
  color: white;
  background-color: #009130;
  padding-bottom: 200px;
  padding-left: 200px;
  padding-right: 200px;
  
}
.gridinfo {
  display: grid;
  grid-template-areas:
    "title1 title2  title3"
    "text1   text2    text3";
  grid-template-columns: 25% 25% 50%;
  grid-template-rows: auto auto;
  grid-gap: 50px;
  background-color: #00938a;
  color: white;
  padding-bottom: 3%;
}
.title1{ grid-area: title1;
font-size: 8rem;
}
.text1{ grid-area: text1;
font-size: 5rem;
justify-self: center;}

.title2{ grid-area: title2;
  font-size: 8rem;}

.text2{ grid-area: text2;
  font-size: 5rem;
  justify-self: center;}

.title3{ grid-area: title3;
  font-size: 8rem;
  padding-top: 5%;
}
.text3{ grid-area: text3;
  font-size: 5rem;
font-family: Arial, Helvetica, sans-serif;
text-align: left;
padding-top: 1%; }

.benefits{
  background-color: #46a92d;
  padding: 2%;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 10rem;
  text-align: center;

}
.background2{
  width: 100%;
}
.other{
  background-color: #009130;
}

/*      solar calculation edition     */

.calculator{
  font-size: 12rem;
  color: white;
  text-align: center;
  padding: 2%;
}
.solarcalculation{
  font-size: 8rem;
  color: white;
  padding: 3%;
}
.botton{
  background-color: #00938a;
  color: white;
}
.calsol{
  color: white;
  font-size: 6rem;
}

/*      solar calculation edition     */

.comments{
  padding: 3%;
}
.square{
  width: 1000px;
  height: 500px;
  justify-content: center;
  padding-bottom: 5%;
}
